POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=velozity

PORT=5000
FRONTEND_URL=http://localhost:5173

JWT_SECRET=velozityGlobalSolution
REFRESH_TOKEN_SECRET=velozityGlobalSolution
PASSWORD_PEPPER=velozityGlobalSolution